<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="ShedularTimerStatus" value="true"/>
		<add key="ShedularStartTime" value="09:00:00 AM"/>
		<add key="ShedularEndTime" value="07:15:00 PM"/>
		<add key="ShedularFreq" value="00:50"/>
		<add key="LogFileLocation" value="D:\HBL Blotter\zohaib4m2010\HBLBlotterServices\APILogs"/>
		<add key="DALLogFileLocation" value="D:\HBL Blotter\zohaib4m2010\HBLBlotterServices\DALLogs"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<connectionStrings>
		<!--Server ConnectionString-->
		<!--<add name="BlotterEntities" connectionString="metadata=res://*/BlotterEF.csdl|res://*/BlotterEF.ssdl|res://*/BlotterEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;password=MASTER;User ID=OPICS;Connect Timeout=0;data source=10.200.75.197,1480;initial catalog=OPICSWEB;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--Zohaib Bhai ConnectionString-->
		<add name="BlotterEntity" connectionString="metadata=res://*/BlotterEF.csdl|res://*/BlotterEF.ssdl|res://*/BlotterEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WebBlotter;Integrated Security=True;Pooling=True;Asynchronous Processing=False;MultipleActiveResultSets=True;Connect Timeout=100;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<!--Rehan & Fawzan ConnectionString-->
		<!--<add name="BlotterEntity" connectionString="metadata=res://*/BlotterEF.csdl|res://*/BlotterEF.ssdl|res://*/BlotterEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=OPICSWEB;Data Source=.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
</configuration>